{#
/**
 * @file
 * Theme override to present user login.
 */
#}
<div class="bg-clr">
	<div class="logo"></div>
	<div class="login-page">
  	<div class="layout-content">
      {{ page.content }}
   	</div>
	</div>
</div>
