.cols {
  margin-bottom: 3px;
  .view-content {
    @extend .row;
  }
  .views-infinite-scroll-content-wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
    width: 100%;
    @media (max-width: 767px) {
      margin: 0 10px;
    }  
  }
  .views-row {
    margin-bottom: 20px;
    @at-root .two-cols#{&} {
      width: 50%;
      img {
        width: 100%;
      }
    }
    @at-root .three-cols#{&} {
      width: 33.333%;
    }
    .img {
      margin-bottom: 15px;
    }
    @at-root .video-landing#{&} {
      @media(max-width: 767px) {
        border-bottom: 2px solid $color-border-2;
        margin-bottom: 10px;
        padding: 0 2.3em .6em;
        @at-root .related-videos#{&} {
          border-bottom: 0;
          padding: 0;
          margin: 0 2.3em 1.2em;
        }
      }    
    }
    @at-root .related-slideshows#{&} {
      @media(max-width: 767px) {
        padding: 0 2.3em;
      }  
    }  
  }
  .col-sm-6 {
    img {
      width: 100%;
    }
  }
  .txt {
    &.md {
      font-size: 19px;
      @media(max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
