ul.social {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin-left: 2px;
    a {
      background: $social-icons;
      height: 28px;
      width: 28px;
      display: inline-block;
      text-indent: -9999em;
    }
    &.tw {
      a {
        background-position: 0 0;
        // &:hover {
        //   background-position: 0 0;
        // }
      }
    }
    &.fb {
      a {
        background-position: -30px 0;
        // &:hover {
        //   background-position: --30px 0;
        // }
      }
    }
    &.yt {
      a {
        background-position: -60px 0;
        // &:hover {
        //   background-position: -60px 0;
        // }
      }
    }
    &.gp {
      a {
        background-position: -90px 0;
        // &:hover {
        //   background-position: -90px 0;
        // }
      }
    }
    &.rss {
      a {
        background-position: -120px 0;
        // &:hover {
        //   background-position: -120px 0;
        // }
      }
    }
  }
}

.footer__top {
  .social {
    li {
      &.tw {
        a {
          background-position: 0px -34px;
        }
      }
      &.fb {
        a {
          background-position: -30px -34px;
        }
      }
      &.yt {
        a {
          background-position: -60px -34px;
        }
      }
      &.gp {
        a {
          background-position: -90px -34px;
        }
      }
      &.rss {
        a {
          background-position: -120px -34px;
        }
      }
    }
  }  
}
