.custom-title  {
  h2 {
    font-family: $font-secondary-bold;
    color: $color-secondary-2;
    border-bottom: 2px solid $color-secondary-2;
    margin-bottom: 15px;
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 0;
    @at-root .ms#{&} {
      margin-bottom: 20px;
    }
    @at-root .title-img.video-img#{&} {
      position: relative;
      border-bottom: 0 none;
      padding-left: 40px;
      margin-bottom: 10px;
      &:before {
        background: $social-icons;
        background-position: -187px -33px;
        content: "";
        width: 28px;
        display: block;
        position: absolute;
        height: 29px;
        left: 0px;
        top: -6px;
      }
      span {
        color: $color-border-title;
        font-family: $font-secondary;
        font-weight: normal;
      }
    }
  }
}
.page-title, .block-title {
  color: $color-secondary-2;
  border-bottom: 2px solid $color-secondary-2;
  font-family: $font-secondary-bold;
  font-size: 16px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  margin-top: 0;
  text-transform: capitalize;
  &:empty {
    display: none;
  }
}
#block-signup {
  h2 {
    text-transform: initial;
  }
}
.path-frontpage, .sidebar {
  h2, h2.block-title {
     text-transform: uppercase !important;
  }
}
