/*
** style for about us page.
*/
.cus-staticaboutus {
	h1.red {
	  color: $color-red;
	  font-family: VodafoneRg;
	  font-size: 45px;
	  padding: 0px 0px;
	  clear: left;
	  width: 99%;
	  font-weight: 400;
	  margin: 5px 0px;
	} 
  .cus-each {
    padding-bottom: 20px;
    padding-top: 20px;
  } 
}

.graphicContent {
  background: rgba(0,0,0,0) linear-gradient(to bottom,#ffffff 0%,#f1f1f1 98%) repeat scroll 0 0;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  margin: 25px auto;
  max-width: 700px;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  &.graphicIdg {
  	width: 500px;
    margin: 0 auto 50px;
    @media (max-width: 640px) {
      width: 250px;
    }
    h3 {
	    color: $color-red;
	    font-size: 26px;
	    margin-top: 7px;
	    padding-left: 37px;
	    font-weight: normal;
    }
    ul {
    	overflow: hidden;
    	margin-left: 0;
	    margin-right: 0;
	    list-style: none;
	    padding-left: 0;
    	li {
    		float: left;
    		padding: 0 2%;
    		text-align: center;
    		width: 49%;
        @media (max-width: 640px) {
          margin-bottom: 20px;
          width: 100%;
        }  
        h3 {
          padding-left: 0;
        }
    	}
    }
  }
  ul > li {
  	h3 {
  		span {
  			clear: both;
		    color: #232323;
		    float: left;
		    font-size: 16px;
		    font-weight: 400;
		    text-align: center;
		    width: 100%;
		    &.authordetails {
		    	font-weight: bold;
		    }
  		}
  	}
  }
}
  