.partner-content {
  &.paragraph {
    margin-bottom: 0;
  }
  &.home-partner {
    // margin-top: 20px;
    .view-content {
      .views-row {
        border-bottom: 1px solid $color-border-2;
        margin-bottom: 15px;
        padding-bottom: 17px;
        @include align-items(start);
        &:last-child {
          border-bottom: none;
        }
        .txt {
          font-size: 16px;
        }
      }
    }
  }
  .view-content {
    margin-top: 25px;
    @at-root .listing-page-style#{&} {
      margin-top: 20px;
    }
    .views-row {
      @include flexbox;
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include align-items(center);
      margin-bottom: 25px;
      @at-root .listing-page-style#{&} {
        margin-bottom: 10px;
        min-height: 55px;
        padding-bottom: 10px;
        .views-field-field-sponsored-content {
          top: -5px;
        }
      }
      &:empty {
        display: none;
      }
      .img {
        @include flex(2);
        @at-root .listing-page-style#{&} {
          @include flex(1);
          @at-root .listing-page-style#{&} {
            @media all and (min-width: 768px) and (max-width: 1024px) {
              margin-right: 1em;
            }
          }
        }
        @media all and (max-width: 767px) {
          @include flex(1);
        }
        &:empty {
          display: none;
        }
      }
      .txt {
        @include flex(1 0 34%);
        font-size: 19px;
        @at-root .listing-page-style#{&} {
          @include flex(1 0 80%);
          @media all and (max-width: 767px) {
            @include flex(1 0 50%);
          }
          @media all and (min-width: 768px) and (max-width: 1024px) {
            @include flex(1 0 78%);
          }
          @media all and (min-width: 768px) {
            padding-right: 4em;
          }
          @at-root .view-latest-news#{&} {
            @media all and (min-width: 768px) {
              padding-right: 0;
            }
          }
        }
        @at-root .listing-page-style#{&} {
          a:hover,
          a:focus {
            color: $color-black;
          }
        }
      }
    }
  }
}
