<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="shortcut icon" href="/sites/cio/themes/cio/images/companyprivate_favicon_1.ico" type="image/x-icon"/>
  <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <title>Akamai - Security Survey</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/sites/cio/themes/cio/akamai/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Header Starts -->
<section class="ch_sections">
  <ul>
  <li class="itrsitelogo"><a href="http://www.cio.in"><img alt="IT Roadmap Channelworld" src="/sites/cio/themes/cio/images/cio_logo_svg.svg"></a></li>
  <li class="withoutchild"><a href="/news">NEWS</a></li>
  <li class="withoutchild"><a href="/case-study">CASE STUDIES</a></li>
  <li class="withchild"><a href="/feature">FEATURES</a>
    <ul class="dropdown">
      <li><a href="/how-to">HOW-TO</a></li>
      <li><a href="/analysis">ANALYSIS</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/feature">ALL</a></li>
    </ul>
  </li> 
  <li class="withchild"><a href="/view-points">VIEW POINTS</a>
    <ul class="dropdown">
      <li><a href="/cio-interview">CIO INTERVIEWS</a></li>
      <li><a href="/cxo-interview">CXO INTERVIEWS</a></li>
      <li><a href="/opinion">OPINIONS</a></li>
      <li><a href="/view-points">ALL</a></li>
    </ul>
  </li> 
  <li class="withoutchild"><a href="/slideshow">SLIDESHOWS</a></li> 
  <li class="withoutchild"><a href="/video">VIDEOS</a></li>
  </ul>
</section>
<header style="padding:15px 0;height:100%;position:inherit;">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="name">Understanding Your Cyber Risk Profile</div>
      </div>
      <div class="col-md-5 logo"> <img src="/sites/cio/themes/cio/akamai/images/logo.png" alt=""> </div>
    </div>
  </div>
</header>
<!-- Header Ends --> 

<!-- Home Starts -->
<div class="container home-wrap">
  <div class="row">
    <div class="col-md-12 col-lg-5">
      <div class="img-wrap"> 2 <img src="/sites/cio/themes/cio/akamai/images/home/Green-Floor1.png" alt="" class="grass-1 no-opacity animated-03" data-anijs="if: animationend, on: .home-building, do: fadeInDown animated opacity"/> 21 <img src="/sites/cio/themes/cio/akamai/images/home/Green-Floor2.png" alt="" class="grass-2 no-opacity animated-04" data-anijs="if: animationend, on: .home-building, do: fadeInDown animated opacity"/> 1 <img src="/sites/cio/themes/cio/akamai/images/home/Building.png" alt="" class="home-building no-opacity animated-05"  data-anijs="if: DOMContentLoaded, on: document, do: fadeInDown animated opacity"/> 33
        <div class="alert-gif no-opacity  animated-07" data-anijs="if: animationend, on: .grass-1, do: fadeInDown animated opacity"></div>
        3 <img src="/sites/cio/themes/cio/akamai/images/home/alert-men.png" alt="" class="alert-men no-opacity animated-03"  data-anijs="if: animationend, on: .grass-1, do: fadeInDown animated opacity" /> 31 <img src="images/home/Shield.png" alt="" class="shield no-opacity animated-04"  data-anijs="if: animationend, on: .grass-1, do: fadeInDown animated opacity" /> 32 <img src="/sites/cio/themes/cio/akamai/images/home/monitor.png" alt="" class="monitor no-opacity animated-05"  data-anijs="if: animationend, on: .grass-1, do: fadeInDown animated opacity" /> 34
        <div class="men-gif no-opacity animated-06"  data-anijs="if: animationend, on: .grass-1, do: fadeInDown animated opacity"></div>
        4 <img src="/sites/cio/themes/cio/akamai/images/home/Car.png" alt="" class="car no-opacity animated-05" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 411 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-B-1.png" alt="" class="tree-1 no-opacity animated-05" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 412 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-B-2.png" alt="" class="tree-2 no-opacity animated-05" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 421 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-B-3.png" alt="" class="tree-b-1 no-opacity animated-06" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 422 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-B-4.png" alt="" class="tree-b-2 no-opacity animated-07" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 423 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-B-5.png" alt="" class="tree-b-3 no-opacity animated-08" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 421 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-A-1.png" alt="" class="tree-a no-opacity animated-06" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 422 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-A-2.png" alt="" class="tree-b no-opacity animated-07" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> 423 <img src="/sites/cio/themes/cio/akamai/images/home/Tree-A-3.png" alt="" class="tree-c no-opacity animated-08" data-anijs="if: animationend, on: .alert-men, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Man1.png" alt="" class="man-1 no-opacity animated-04" data-anijs="if: animationend, on: .car, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Threat.png" alt="" class="threat no-opacity animated-06" data-anijs="if: animationend, on: .car, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Server2.png" alt="" class="server-2 no-opacity animated-05" data-anijs="if: animationend, on: .car, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Server1.png" alt="" class="server-1 no-opacity animated-06" data-anijs="if: animationend, on: .car, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Man2.png" alt="" class="man-2 no-opacity animated-07" data-anijs="if: animationend, on: .car, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Man-shakehand-1.png" alt="" class="shake-1 no-opacity animated-05" data-anijs="if: animationend, on: .man-1, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Man-shakehand-2.png" alt="" class="shake-2 no-opacity animated-07" data-anijs="if: animationend, on: .man-1, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Cloud-2.png" alt="" class="cloud-1 no-opacity animated-05" data-anijs="if: animationend, on: .shake-1, do: fadeInDown animated opacity" /> <img src="/sites/cio/themes/cio/akamai/images/home/Cloud.png" alt="" class="cloud-2 no-opacity animated-06" data-anijs="if: animationend, on: .shake-1, do: fadeInDown animated opacity" /> 
      </div>
    </div>
    <div class="col-md-12 col-lg-7">
      <div class="content">
        <h1>Keep your organization secure</h1>
        <h2>How exposed is your organization?</h2>
        <p>Discover your cybersecurity maturity with our Cyber Risk Questionnaire.</p>
        <p>The cyber threat landscape your business is operating in today, is vastly different from that of yesteryears. New technologies expose new attack vectors, while cyber threat actors have evolved to take advantage of those new vulnerabilities. Defence measures implemented a year ago may not be enough for the cyber risks your organization is exposed to now.</p>
        <i class="caution-home">The hard truth is, your organization will always be at risk. The question now is, how exposed are you?</i> 
        <a class="surveybtn waves-effect waves-orange" href="/akamai/security-survey-questionnaire">TAKE CYBER RISK QUESTIONNAIRE NOW</a> 
      </div>
    </div>
  </div>
</div>
<!-- Home Ends --> 

<!-- Footer Starts -->
<footer style="margin-top:60px;">
  <p>&copy;2017 Akamai Technologies</p>
</footer>
<!-- Footer Ends --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js"></script>
<!-- google analytics code -->
<script type="text/javascript">var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");
document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">try{var author="none";var guid="none";var type="page";var published="01:13:2017";var pageTracker=_gat._getTracker("UA-61646-2");pageTracker._setDomainName(".cio.in");if(author!='none'){pageTracker._setCustomVar(1,"Author",author,3);}
if(guid!='none'){pageTracker._setCustomVar(2,"GUID",guid,3);}
if(type!='none'){pageTracker._setCustomVar(3,"Type",type,3);pageTracker._setCustomVar(4,"Published",published,3);}
pageTracker._trackPageview();}catch(err){}</script>
<!-- end of google analytics code --> 
</body>
</html>
