/*
** style for buttons.
*/
.newsletter-button {
	float: right;
	margin-top: 1em;
	margin-right: 2em;
	input {
		background: $color-green;
    border: none;
    color: $color-white;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-weight: bold;
	}
}
