<div class="col-md-3 col-12 footer-content p-0">
  <article class="cus-logos float-left mr-3">
    <p class="my-1">Supported By</p>
    <a class="cio-logo" href="http://www.cio.in/" target="_blank"> <img alt="cio" src="/sites/fintech/themes/fintech/images/cio-logo.png"> </a>
    <a class="idg-logo" href="http://www.idg.in/" target="_blank"><img alt="idg" src="/sites/fintech/themes/fintech/images/idg-logo.png"> </a>
  </article>
  <article class="cus-logos">
    <p class="my-1">Powered By</p>
    <a class="netapp-logo" href="http://www.netapp.in" target="_blank"><img alt="netapp" src="/sites/fintech/themes/fintech/images/netapp-logo-v1.png"> </a>
  </article>
</div>
<div class="col-md-7 col-sm-7 col-12 footer-content text-center">
  <nav> 
    <a href="/news">news</a>
    <a href="/views">views</a>
    <a href="/case-studies">case studies</a>
    <a href="/videos">videos</a>
    <a href="/advisory-board">advisory board</a>          
  </nav>
  <p>© Copyright 2018 IDG Media Pvt. Ltd. All Rights Reserved.</p>       
</div>
<div class="col-md-2 col-12 footer-content float-right">
<!--<p class="my-1 mr-3 text-md-right text-center">Follow us on</p>
 <div class="socialicons text-md-right text-center">
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>     
  </div>-->
</div>
