.quick__links {
  background: $quick-link-bg;
  padding: 0;
  margin-top:3px;
  .container {
    #block-socialicons {
      padding-right: 10px;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
  .menu {
   & > li {
     & > a {
        font-size: 12px;
        padding: 7px 0;
      }
    }
  }
  .menu {
    & > .menu-item {
      &:first-child {
        margin-top: -1px;
        a {
          color: $color-secondary;
          @include nolink();
          font-family: $font-primary;
        }
      }
    }
    .dropdown-menu {
      background: $quick-link-bg;
      top: 22px;
      padding: 10px;
      border-top: 1px solid #eee;
      li {
        margin-bottom: 10px;
      }
    }
    .menu-item--expanded {
      > a:after {
        background: url(../images/Sprite.png) no-repeat;
        background-position: -200px 0px;
        content: "";
        position: absolute;
        width: 12px;
        height: 16px;
        right: -15px;
        top: -6px;
      }
    }
  }
  .region {
    min-height: 30px;
    padding: 3px 0;
    float:right;
    @media(max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media(max-width: 767px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.main__menu {
  clear:both;
  background: $main-menu-bg;
  height: 50px; 
  .container{
    div#block-sitebranding {
    margin-top: -21px;
     @media(max-width: 767px) {
     margin-top: 0px;
    }
}
    nav#block-mainmenu {
    width:85%;margin-top:15px;
    }
  }
  @media (max-width: 767px) {
    .block-system-branding-block {
      width: 100%;
      text-align: center;
    }
  }
  @include flexbox();
  .region-menu {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    /*height: 55px;*/
    @media(max-width: 1024px) {
      padding: 0 20px;
    }
    @media(max-width: 767px) {
      padding: 5 10px;
      position: relative;
      .block-search {
        display: none;
      }
    }
    @media(max-width: 992px) {
      .menu--main-menu {
        display: none;
      }
    }
  }
  ul.menu {
    a {
      color: $color-white;
      font-size: 14px;
      &.is-active {
        font-family: $font-secondary-bold;
        color: $color-white;
      }
    }
    > li {
      position: relative;
      > a:hover, > a.is-active {
        /*&:after {
          content: "";
          border-bottom: 4px solid #fff;
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
        }*/
        border-bottom:4px solid #fff;
        padding-bottom:9px;
      }
    }
  }
}

header {
  text-transform: uppercase;
  background: $main-menu-bg !important;
  font-family: $font-secondary;
  .container {
    padding: 0;
  }
  #menu-hamburger {
    background: url(../images/hamburger.png) no-repeat;
    display: inline-block;
    width: 25px;
    margin-right: 15px;
    height: 18px;
    vertical-align: middle;
    @media (max-width: 767px) {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    .ad__section {
      display: none;
    }
  }
  .site-logo {
    display: inline-block;
    width: 92px;
    /*margin-top: 2px;*/
    @media(max-width: 767px) {
      text-align: center;
      width: 68px;
    }
  }
}

.as-localnav-placeholder {
  display: none;
}

.fixed + .as-localnav-placeholder {
  display: block;
}
