.quick__links {
  float:right;
  padding-left: 30px;
  margin-bottom: 10px;
  .container{
    #block-socialicons{
    padding-right:10px;
   }
  }
  @media (max-width: 767px) {
    display: none;
  }
  .menu {
   & > li {
     & > a {
        font-size: 12px;
        padding: 7px 0;
        color: $color-blue;
        &:hover, &.is-active {
          color: $color-secondary-1;
        }
      }
    }
  }
  .menu {
    .dropdown-menu {
      background: #363c43;
      top: 22px;
      padding: 10px;
      li {
        padding-bottom: 10px;
        a {
          color: $color-blue;
          &:hover {
            color: $color-secondary-1;
          }
        }
      }
    }
    .menu-item--expanded {
      > a:after {
        background: url(../images/Sprite.png) no-repeat;
        background-position: -200px 0px;
        content: "";
        position: absolute;
        width: 12px;
        height: 17px;
        right: -10px;
        top: -6px;
      }
    }
  }
  .region {
    min-height: 30px;
    padding: 3px 0;
    @media(max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media(max-width: 767px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.main__menu {
  clear:both;
  @media (max-width: 767px) {
    .block-system-branding-block {
      width: 100%;
      text-align: center;
    }
  }
  @include flexbox();
  .region-menu {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    @media(max-width: 1024px) {
      padding: 0 20px;
    }
    @media(max-width: 767px) {
      padding: 0 10px;
      position: relative;
      .block-search {
        display: none;
      }
    }
    @media(max-width: 992px) {
      .menu--main-menu {
        display: none;
      }
    }
  }
  ul.menu {
    background: #121212;
    a {
      color: $color-blue;
      text-decoration: none;
      font-size: 14px;
      padding: 9px 8px 15px 8px;
      display: inline-block;
      &.is-active {
        font-family: $font-secondary-bold;
        color: $color-white;
      }
    }
    > li {
      position: relative;
      border-right: 2px solid;
      margin: 0;
      > a:hover, > a.is-active {
        &:after {
          content: "";
          border-bottom: 4px solid $color-secondary-1;
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 4px;
          left: 0;
        }
      }
    }
  }
  .dropdown-menu {
    background: #121212;
    max-height: 300px;
    overflow: auto;
  }
  li.menu-item.menu-item--expanded {
    padding-right: 10px;
    &:before {
      background: url(../images/Sprite.png);
      background-position: -203px -10px;
      content: "";
      height: 9px;
      width: 9px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 14px
    }
  }
}

header {
  .header-wrap {
    background: #363c43;
    .header-flex {
      @include flexbox;
    }
    .header-logo {
      padding: 9px 12px 7px 0;
      @include flexbox;
      @include align-items(center);
      @media(max-width: 767px) {
        position: relative;
        width: 100%;
        text-align: center;
        display: block;
        a.logo {
          display: inline-block;
          text-align: center;
          width: 80px;
        }
      }
      a#menu-hamburger {
        margin-top: 24px;
        width: 29px;
        margin-top: 24px;
        @media(max-width: 767px) {
          margin-top: 21px;
        }
      }
      img {
        height: 68px;
        @media(max-width: 767px) {
          height: auto;
        }
      }
    }
    .header-menu {
      margin-bottom: 4px;
      @include flex(1 1 90%);
      @media(max-width: 767px) {
        display: none;
      }
    }
  }
  text-transform: uppercase;
  font-family: $font-secondary;
  .container {
    padding: 0;
  }
  #menu-hamburger {
    background: url(../images/hamburger.png) no-repeat;
    display: inline-block;
    width: 25px;
    margin-right: 15px;
    height: 18px;
    vertical-align: middle;
    @media (max-width: 767px) {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    .ad__section {
      display: none;
    }
  }
  .site-logo {
    display: inline-block;
    width: 65px;
    margin-top: 2px;
    @media(max-width: 767px) {
      text-align: center;
    }
  }
}

.as-localnav-placeholder {
  display: none;
}

.fixed + .as-localnav-placeholder {
  display: block;
}

.special-pages {
  .logo-special {
    img {
      height: 25px;
      margin-top: 10px;
    }
  }
  .menu {
    .dropdown-menu {
      background: #121212;
      max-height: 300px;
      overflow: auto;
      li {
        a {
          padding: 10px 8px;
          display: inline-block;
        }
      }
    }
  }
}
