/* variables for the IDG site */

$container: 1080px;

/* color variables */
$color-black: #000;
$color-white: #fff;
$color-red: #c32d36;
$color-blue: #2d388c;
$color-body-bg: #f9f9f9;
$color-text: #444;
$color-title-text: #2d2d2d;
$color-tophdr-bg: #e4e4e4;
$color-header-bg: #ed1c24;
$color-gray-border: #d1d1d1;

/* font variables */
$font-robot: 'Roboto Slab', serif;
$font-opensans: 'Open Sans', sans-serif;
$font-size: 16px;
